# <center> Python basics</center>

## Variable declaration

Covers the topic of variable declaration and type of variables

reference:- https://youtu.be/RVYY7zMiPbg

<p style='text-align: right;'> 1+1+1+1+1 = 5 points</p>

In [1]:
# declare two variables, a = 5, b = 'city'
a = 5       # your code here
b =  'city' # your code here

In [4]:
type(a)        # print type of a

int

In [5]:
type(b) # print type of b

str

In [6]:
a = 'city'# swap the values of a and b
b= 5

In [7]:
# run this to confirm 
print('a = ' + str(a) + ' , b = ' + str(b))

a = city , b = 5

## Arithmetic Operations

Simple mathematical operations and using math module to apply mathematical functions

- Mathematical operations

reference:- https://youtu.be/0-hzxfkpHy8

<p style='text-align: right;'> 1 + 7 = 8 points </p>

In [55]:
# declare two variables, a = 24, b = 3

a = 24 # your code here
b = 3  # your code here
print('a = {}, b = {}'.format(a,b))

a = 24, b = 3

In [56]:
# calculate and print all the possible numeriacl operations on a and b (There are total 7 operations)
print('a+b=',a+b)
print('a-b=',a-b)
print('a*b=',a*b)
print('a/b=',a/b)
print('a%b=',a%b)
print('a//b=',a//b)
print('a^b=',a ** b)

a+b= 27
a-b= 21
a*b= 72
a/b= 8.0
a%b= 0
a//b= 8
a^b= 13824

## Math Functions

Math module contains various mathematical functions. 

Reference:- https://youtu.be/gktjNyV0xks

<p style='text-align: right;'> 1 + 4 = 5 points </p>

In [35]:
import math
# declare a variable a = 2
a = 2  #your code here
print('a = ',a)

a =  2

In [38]:
# declare a variable x = 2 and y=5.32167

x= 2 #code here
y= 5.32167 #code here

In [39]:
max(x,y) # Print the maximum value between x and y

5.32167

In [40]:
round(y,2) # Round value of y upto 2 decimal places

5.32

In [53]:
import math
x=2
a= x**2 # Print square and cube of x and store in a and b variable
b= x**3
print(a)
print(b)

4
8

In [62]:
#print log of x and store it in variable c
import math as m
x=2
c= m.log(x)
print(c)

0.6931471805599453

In [63]:
#print minimum value between x,y,a, b and c
x= 2 
y= 5.32167 
a= x ** 2
b = x ** 3
c = m.log(x)
min(x,y,a,b,c)

0.6931471805599453

In [75]:
#print the largest integer not greater than c.
import math as m
x=2
m.floor(m.log(x))

0

In [76]:
#print the smallest integer not less than c.
import math as m
x=2
m.ceil(m.log(x))

1

## Logical opeations

Reference:- https://youtu.be/9w992l9TFIs

<p style='text-align: right;'> 1 + 1 + 1 + 6 = 9 points </p>

In [77]:
# declare two variables, a = True, b = False

a = True #your code here
b = False #your code here

print(a)
print(b)

True
False

In [79]:
# print type of a and type of b
print('type of a is ',type(a))
print('type of b is ',type(a))

type of a is  <class 'bool'>
type of b is  <class 'bool'>

In [83]:
# print int(a) and int(b)
print('int of a is ',int(a))
print('int of b is ',int(b))

int of a is  1
int of b is  0

In [91]:
# Find and print the values of not a, not b, a and b, a or b, a and not b
a= True
b= False
print('not a =' , not a)
print('not b =' , not b)
print('a and b  =' , a and b)
print('a or b  =' , a or b)
print('a and not b  =' , a and (not b))

not a = False
not b = True
a and b  = False
a or b  = True
a and not b  = True

## List Comprehensions

Reference:- https://youtu.be/17gTGqHG5xQ

<p style='text-align: right;'> 10 + 10 + 10= 30 points </p>

In [113]:
# Using list comprehension, create a list containing numbers from 1 to 20.

l1 = [ i  for i in range(1,21) ]#your code here

print(l1)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]

In [114]:
# Using list comprehension, create a list containing numbers from 1 to 20 that are even

l2 = [ i  for i in range(1,21) if i%2==0] 

print(l2)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

Create a list of all the fruits you like. Using list comprehension, create another list which contains the length of fruits corresponding fruits
- Eg. fruits = [‘apple’,’kiwi’,’orange’], then output would be - [5,4,6]

In [123]:
fruits = ['apple', 'kiwi', 'orange']
len_fruits =  [len(i) for i in fruits ]  

print(fruits)
print(len_fruits)

['apple', 'kiwi', 'orange']
[5, 4, 6]

The above output is shown if fruits = ['apple','kiwi,'orange'], it can vary for different values of fruits

## String value and operators

<p style='text-align: right;'> 1 + 1 + 1 + 1 + 1 = 5 points </p>

### Characters in strings

Reference:-  https://youtu.be/LnQDWIMaJlA

In [3]:
# declare the variables x and y

x = 'cat' #your code here
y ='dog' #your code here

In [4]:
#Print both the strings
print(x)
print(y)

cat
dog

In [5]:
#Print first character of both x and y. 
print('First ch of x =', x[0])
print('First ch of y =', y[0])

First ch of x = c
First ch of y = d

In [6]:
#Print last character of both x and y.
print('last ch of x =', x[-1])
print('last ch of y =', y[-1])

last ch of x = t
last ch of y = g

In [7]:
#Print len of both x and y
print('length of x =', len(x))
print('length of y =', len(y))

length of x = 3
length of y = 3

In [8]:
#concatenate both x and y and store it in variable z and print z
z=(x+y)
print(z)

catdog

In [9]:
#line 144 
#check if x is part of z 
print (x in z)
# check = z.find(x)
# print(check)

True

### String slicing

<p style='text-align: right;'> 2 points </p>

In [145]:
#Create variable a = “pineapple”
a ='pineapple' 

print(a)

pineapple

In [147]:
# Using index slicing, print the words ‘pine’ and “apple”.
# HINT - a[:]
print(a[0:4])
print(a[4:])

pine
apple

In [149]:
#Convert a into upper case
a.upper()

'PINEAPPLE'

## Sentences

<p style='text-align: right;'> 1+1+1+1+1+1 = 6 points </p>

In [151]:
# Declare a sentence of ‘I am flying to London’
sent = 'I am flying to London'

print(sent)

I am flying to London

In [152]:
#Print len of the sentence
len(sent)

21

In [160]:
#Using list comprehension, print the word London
lsp = sent.split()
lsp1=[lsp[i] for i in [-1] ]
print(lsp1[0])

London

In [155]:
# Use .split to get list of individual words in the sentence

sent.split()

['I', 'am', 'flying', 'to', 'London']

In [161]:
# Convert sentence in lower case 
sent.lower()

'i am flying to london'

In [162]:
# Convert sentence in upper case .
sent.upper()

'I AM FLYING TO LONDON'

## Functions

### Declare a function which  takes input as x, and returns the square of x. 
Reference:- https://youtu.be/Rpq9MC67M08

<p style='text-align: right;'> 5 + 3 = 8 points </p>

In [185]:
def square(x):
    '''
    return x*x

Call the function to find the value of square of 9.

In [186]:
# find the value of square of 9 using the function square
p=9
print('Square of 9 is ', square(p))

Square of 9 is  81

### Define another function which checks whether a given number if odd or even, for a given input, it should print whether the given number is odd or even.

<p style='text-align: right;'> 5 + 3 = 8 points </p>

In [251]:
# your code here
def check_odd_even(x):
    if x%2==0:
       return print('{} is even'.format(x))
    else:
      return print('{} is odd'.format(x))

Using both the functions to check whether the square of 3,6,21 is odd or even.

In [255]:
 # your code here
(check_odd_even(3))
(check_odd_even(6))
(check_odd_even(21))

3 is odd
6 is even
21 is odd

# Loops and Iterations
Reference:- https://youtu.be/6iF8Xb7Z3wQ

## If statement

*italicized text*<p style='text-align: right;'> 1 + 2 + 3 = 6 points </p>

In [239]:
#Declare a variable x equal to a number of your choice.
#your code here
x = 3 # add a number of your choice (mine is 3 :) )
print(x)

3

In [248]:
#Using an if statement, print whether the number is 0, positive or negative.
x=3
if x==0:
  print('input {} is 0'.format(x))
else: 
    if x<0:
      print('input {} is negative'.format(x))
    else:
      print('input {} is positive'.format(x))

input 3 is positive

In [259]:
# Define a function, which takes input from the user and prints whether the given input is 0,positive or negative.
x= print('enter the value = ', x)
def check_num(x):
    if x==0:
      print('input {} is 0'.format(x))
    else: 
        if x<0:
          print('input {} is negative'.format(x))
        else:
            print('input {} is positive'.format(x))
check_num(10)
check_num(-2)
check_num(0)

enter the value =  None
input 10 is positive
input -2 is negative
input 0 is 0

## For loop

<p style='text-align: right;'> 2 points </p>

In [263]:
#Create a list x, such that it contains the elements - ‘India’, ‘Israel’,’Canada’.
list=['India','Israel','Canada']
list

['India', 'Israel', 'Canada']

In [273]:
#Using For loop, iterate over the list and print the elements.
list=['India','Israel','Canada']
for i in range(0,3):
    print (list[i])

India
Israel
Canada

<p style='text-align: right;'> 2 points </p>

In [280]:
# Using For loop, print the table of 2.
x=2
for i in range(1,11):
    print (x,'X', i ,'=',x*i)

2 X 1 = 2
2 X 2 = 4
2 X 3 = 6
2 X 4 = 8
2 X 5 = 10
2 X 6 = 12
2 X 7 = 14
2 X 8 = 16
2 X 9 = 18
2 X 10 = 20

For a given list, x = [21, ‘hello,’cream’, 20,19,’village’], using for loop to iterate over the items and using - if statement print the items that are of type int

In [316]:
#code here
k=[]
x = [21, 'hello','cream', 20,19,'village']
for i in range(0,len(x)):
    if type(x[i]) == int:
      k.append(x[i])
print (k)

[21, 20, 19]

Using For loop, create the following pattern.

<p style='text-align: right;'> 10 points </p>

In [320]:
# print the following pattern
for i in range(0,6):
         print (' * '*i)

 *
 *  *
 *  *  *
 *  *  *  *
 *  *  *  *  *

In [ ]:
#your code here

## While loop

- Using while loop make a function that prints all the values between 1 to n.

<p style='text-align: right;'> 10 points </p>

In [340]:
def counter(n):
    i=1
    while (i <(n+1)):
      print (i)
      i=i+1

In [341]:
counter(10) #this should print numbers from 1 to 10

1
2
3
4
5
6
7
8
9
10

### Write the code for the following, what is the output obtained?
- Set a variable flag = True, num = 5
- Run a while loop till flag = True
- Inside the while loop - 
    - Increment the value of num by 5
    - If value of num is greater then 50, set flag to be False

----------------------------------------------------------------------

In [361]:
# your code here
num = 5 
while True:
  if num==50:
        break 
  print (num)
  num=num+5

5
10
15
20
25
30
35
40
45

# Smile, you completed the first milestone :)!!