# <center> <u>Data Structures <u> </center>

## 1. Lists

Reference:- https://www.youtube.com/watch?v=ohCDWZgNIU0

<p style='text-align: right;'> 1+1+1 = 3 points</p>

#### 1.1 Create an empty list with the name ‘a’, print the value of a and type(a).

In [1]:
# create empty list, name it 'a'
a=[]

In [2]:
# print the value of a

print(a)

[]

In [3]:
# print the type of a

type(a)

list

#### 1.2.Create a list , languages = ['R','Python', 'SAS', 'Scala', 42],

<p style='text-align: right;'> 1+1+1+1+1+1+1+1 = 7 points</p>

In [4]:
#code here
lst= ['R','Python','SAS','Scala',42]

Print the number of elements in the list

In [5]:
#code here
len(lst)

5

Using for loop iterate and print all the elements in the list

In [6]:
#code here
lst= ['R','Python','SAS','Scala',42]
for i in range(0,len(lst)):
    print (lst[i])

R
Python
SAS
Scala
42

Select the second item, 'Python' and store it in a new variable named 'temp'

In [7]:
#code here
temp = lst[1]

Print the value of temp and type(temp)

In [8]:
#code here
print(temp)
type(temp)

Python

str

Using list comprehension, print the last two elemets of list

In [9]:
# code here
lst= ['R','Python','SAS','Scala',42]
[lst[i] for i in range(-2,0)]

['Scala', 42]

Append the element 'Java' in the list

In [10]:
#code here
lst0= ['R','Python','SAS','Scala',42]
lst0.append('Java')

In [11]:
lst0

['R', 'Python', 'SAS', 'Scala', 42, 'Java']

Remove the element 42 from the list and print the list

In [12]:
#code here
lst0.remove(42)

In [13]:
lst0

['R', 'Python', 'SAS', 'Scala', 'Java']

#### 1.3. Create a list, colors = [‘Red’, ‘Blue’, ‘White’]

<p style='text-align: right;'> 1+1+1+1+1+1+1 = 6 points</p>

In [14]:
#code here
color_list= ['Red','Blue','White']
color_list

['Red', 'Blue', 'White']

Append the element 'Black' to colors

In [15]:
#code here
color_list.append('Black')
color_list

['Red', 'Blue', 'White', 'Black']

Append the color 'Orange' to second position (index=1) and print the list

In [16]:
#code here
color_list.insert(1,'Orange')
color_list

['Red', 'Orange', 'Blue', 'White', 'Black']

Print the list

In [17]:
# code here
print(color_list)

['Red', 'Orange', 'Blue', 'White', 'Black']

Create another list, colors2 = [‘Grey’, ‘Sky Blue’]

In [18]:
# code here
color_list2 = ['Grey','Sky Blue']
color_list2

['Grey', 'Sky Blue']

Add the elements of colors2 to colors using extend function in the list

In [19]:
#code here
c=color_list.extend(color_list2)

Print len of colors and its elements

In [20]:
# code here
print(color_list)

['Red', 'Orange', 'Blue', 'White', 'Black', 'Grey', 'Sky Blue']

Sort the list and print it.

In [21]:
# code here
color_list.sort()
color_list

['Black', 'Blue', 'Grey', 'Orange', 'Red', 'Sky Blue', 'White']

#### 1.4. Create a string, sent = ‘Coronavirus Caused Lockdowns Around The World.”

<p style='text-align: right;'> 7 points</p>

In [22]:
# code here
sent = 'Coronavirus Caused Lockdowns Around The World.'

Use split function to convert the string into a list of words and save it in variable words and print the same

In [23]:
# code here
lst=sent.split()

In [24]:
lst

['Coronavirus', 'Caused', 'Lockdowns', 'Around', 'The', 'World.']

Using list comprehensions, convert each word in the list to lower case and store it in variable words_lower. 
Print words_lower

In [25]:
# code here
words_lower=[i.lower() for i in lst if range(0,6)]

In [26]:
words_lower

['coronavirus', 'caused', 'lockdowns', 'around', 'the', 'world.']

Check whether ‘country’ is in the list

In [27]:
# code here
print ("country" in words_lower)

False

Remove the element ‘the’ from the list and print the list.

In [28]:
# code here
words_lower.remove("the")

In [29]:
words_lower

['coronavirus', 'caused', 'lockdowns', 'around', 'world.']

Select the first 4 words from the list words_lower using slicing and store them in a new variable x4

In [30]:
#code here
words_lower_new=words_lower[0:4]

In [31]:
words_lower_new

['coronavirus', 'caused', 'lockdowns', 'around']

In [32]:
# print x4
print(c)

None

Convert the list of elements to single string using join function and print it

In [33]:
#code here
sent2=""
for i in words_lower_new:
    sent2+=str(i)+" "
sent2=sent2[:-1]
print (sent2)

coronavirus caused lockdowns around

## 2. Sets

Reference:-https://www.youtube.com/watch?v=sBvaPopWOmQ

#### 2.1. Create stud_grades = ['A','A','B','C','C','F']

<p style='text-align: right;'> 7 points</p>

In [34]:
#code here
stud_grades=['A','A','B','C','C','F']

Print the len of stud_grades

In [35]:
#code here
len(stud_grades)

6

Create a new variable, stud_grades_set = set(stud_grades)

In [36]:
#code here
stud_grades_set= set(stud_grades)

Print stud_grades_set.

In [37]:
#code here
print (stud_grades_set)

{'C', 'A', 'F', 'B'}

print the type of stud_grades and stud_grades_set and print their corresponding elements. Try to understand the difference between them.

In [38]:
#code here
print(type(stud_grades),'>' ,stud_grades)
print(type(stud_grades_set),'>',stud_grades_set)

<class 'list'> > ['A', 'A', 'B', 'C', 'C', 'F']
<class 'set'> > {'C', 'A', 'F', 'B'}

Add a new element ‘G’ to stud_grades_set

In [39]:
#code here
stud_grades_set.add('G')

Add element 'F' to stud_grades_set. and print it.

In [40]:
#code here
stud_grades_set.add('F')
print(stud_grades_set)

{'A', 'G', 'C', 'F', 'B'}

!!Did you notice? set doesn't add an element if it's already present in it, unlike lists.

Remove ‘F’ from stud_grades_set

In [41]:
#code here
stud_grades_set.remove('F')
stud_grades_set

{'A', 'B', 'C', 'G'}

Print the elements and the length of stud_grades_set

In [42]:
#code here
print(stud_grades_set)
len(stud_grades_set)

{'A', 'G', 'C', 'B'}

4

#### 2.2. Create colors = [‘red’,’blue’,’orange’], and fruits = [‘orange’,’grapes’,’apples’]

<p style='text-align: right;'> 6 points</p>

In [43]:
#code here
colors= ['red','blue','orange']
fruites= ['orange','grapes','apples']

Print color and fruits

In [44]:
#code here
print(colors)
print(fruites)

['red', 'blue', 'orange']
['orange', 'grapes', 'apples']

Create colors_set, and fruits_set. (using set() ) and print them

In [45]:
#code here
colors_set=set(colors)
fruits_set=set(fruites)
print(colors_set)
print(fruits_set)

{'red', 'blue', 'orange'}
{'apples', 'grapes', 'orange'}

Find the union of both the sets.

In [46]:
#code here
fruits_set.union(colors_set)

{'apples', 'blue', 'grapes', 'orange', 'red'}

Find the intersection of both the sets

In [47]:
#code here
fruits_set.intersection(colors_set)

{'orange'}

Find the elements which are Fruits but not colors (using set.difference() )

In [48]:
#code here
fruits_set.difference(colors_set)

{'apples', 'grapes'}

## 3. TUPLES

Reference:-https://www.youtube.com/watch?v=NI26dqhs2Rk

#### 3.1 . Create temp = [17, ’Virat’, 50.0]

<p style='text-align: right;'> 7 points</p>

In [75]:
#code here

temp= [17,'Virat',50.0]

Iterate through temp and print all the items in temp

In [76]:
#code here
[i for i in temp if range(0,len(temp))]

[17, 'Virat', 50.0]

replace first element with 11 in temp

In [80]:
#code here

temp[0]=11
print(temp)

[11, 'Virat', 50.0]

Set temp1 = tuple(temp)

In [82]:
#code here
temp1 = tuple(temp)

Iterate through temp1 and print all the items in temp1.

In [83]:
#code here
[i for i in temp1 if range(0,len(temp1))]

[11, 'Virat', 50.0]

replace first element with 17 in temp1

In [84]:
#code here
temp1[0]=11
print(temp1)

TypeError: 'tuple' object does not support item assignment

<b>Oops!! You got an error. Hey Don't worry! Its because Once a tuple is created, you cannot change its values unlike list.</b>

#### 3.2 . Create city = ("Bangalore", 28.9949521, 72)

<p style='text-align: right;'> 6 points</p>

In [85]:
#code here
city= ('Banglore',28.9949521,72)

Print first element of city

In [87]:
#code here
print(city[0])

Banglore

Create city2 = (‘Chennai’, 30.01, 74)

In [88]:
#code here
city2=('Chennai',30.01,74)

Create cities which consist of city and city2

In [93]:
#code here
cities=(city,city2)
print(cities)

(('Banglore', 28.9949521, 72), ('Chennai', 30.01, 74))

Print cities

In [94]:
#code here
print(cities)

(('Banglore', 28.9949521, 72), ('Chennai', 30.01, 74))

Print type of first element in cities

In [95]:
#code here
type(cities[0])

tuple

print the type of cities

In [96]:
#code here
type(cities)

tuple

Hey that implies you made a nested tuples!!

## 4. DICT

Reference:-https://www.youtube.com/watch?v=XCcpzWs-CI4

<p style='text-align: right;'> 11 points</p>

#### 4.1 Create a dictionary d = {"actor":"amir","animal":"cat","earth":2,"list":[23,32,12]}

In [97]:
#code here
d = {"actor":"amir","animal":"cat","earth":2,"list":[23,32,12]}

Print the value of d[0]

In [98]:
#code here
d[0]

KeyError: 0

<b>Oops!! again an error. again a fun fact. Dictionary return the value for key if key is in the dictionary, else throws KeyError
and we don't have key 0 here :( </b>

Store the value of d[‘actor’] to a new variable actor.

In [99]:
#code here
d['actor']

'amir'

Print the type of actor

In [100]:
#code here
type(d['actor'])

str

Store the value of d[‘list’] in new variable l.

In [101]:
#code here
I = d["list"]

Print the type of l.

In [102]:
#code here
type(d["list"])

list

Create d1 = { ‘singer’ : ‘Kr$na’ , ‘album’: ‘Still here’, ‘genre’ : ‘hip-hop’}

In [103]:
#code here
d1= {'singer':'Kr$na','album':'Still here','genre':'hip-hop'}

Merge d1 into d.

In [108]:
#code here

d.update(d1)
d

{'actor': 'amir',
 'animal': 'cat',
 'earth': 2,
 'list': [23, 32, 12],
 'singer': 'Kr$na',
 'album': 'Still here',
 'genre': 'hip-hop'}

print d

In [123]:
#code here
print(d)

{'actor': 'amir', 'animal': 'cat', 'earth': 2, 'list': [23, 32, 12], 'singer': 'Kr$na', 'album': 'Still here', 'genre': 'hip-hop'}

Print all the keys in d

In [124]:
#code here
d.keys()

dict_keys(['actor', 'animal', 'earth', 'list', 'singer', 'album', 'genre'])

Print all the values in d

In [125]:
#code here
d.values()

dict_values(['amir', 'cat', 2, [23, 32, 12], 'Kr$na', 'Still here', 'hip-hop'])

Iterate over d, and print each key, value pair as given in output

In [127]:
#code here
for key in d.keys():
    value = d[key]
    print(key,":",value)

actor : amir
animal : cat
earth : 2
list : [23, 32, 12]
singer : Kr$na
album : Still here
genre : hip-hop

count the number of occurences of charachters in string named "sent" using dictionary and print the same.

In [129]:
#code here
sent = 'Coronavirus Caused Lockdowns Around The World.'

def occurence(str1):
    dict = {}
    for i in str1:
        keys = dict.keys() 
        if i in keys:
            dict[i] += 1
        else:
            dict[i] = 1
    return dict
print(occurence(sent))


# dear mentor need to understand mor eon this or simnpler method

{'C': 2, 'o': 6, 'r': 4, 'n': 3, 'a': 2, 'v': 1, 'i': 1, 'u': 3, 's': 3, ' ': 5, 'e': 2, 'd': 4, 'L': 1, 'c': 1, 'k': 1, 'w': 1, 'A': 1, 'T': 1, 'h': 1, 'W': 1, 'l': 1, '.': 1}

# --------------------------------------------------------------------

# Hurray!! Second milestone completed. The next challenge is waiting for you :)

# --------------------------------------------------------------------